* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--ff-primary: "Roboto", sans-serif;
	--ff-title: "Space Grotesk", sans-serif;
	font-family: var(--ff-primary);
}
h1,
h2 {
	font-family: var(--ff-title);
	line-height: 1;
}
p,
span,
button,
a {
	font-family: var(--ff-primary);
}

.container {
	background-color: #111111;
	width: 100%;
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	padding: 4rem;
	gap: 6rem;
}
